@use '../abstracts' as *;

body{
    margin: 0;
    padding: 0;
    font-family: $fontStack;
    box-sizing:border-box;
    line-height: 1.7em;
    background: $primaryColor;

}

.app{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.apptheme{
    margin-top: 0rem;
    margin-bottom: 0rem;
    flex:1;
}
