.experience{
    text-align: center;
    font-size: 3rem;
    color: #ff00ff;
    bottom: 30px;
  }
  
  .bar{
    width: 100%;
    /* background-color: #ddd; */
    color: #fcfcfc;
  }
  
  .skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 1px;
    color: black;
  
  }
  
  .dbms{
    width:97.99%;
    background-color: #fd5800;
  }
  .ssadm{
    width:96.99%;
    background-color: #00bfff;
  }
  .html{
    width: 90%;
    background-color: #04AA6D;
  }
  .css{
    width: 85%;
    background-color: #fffF33;
  }
  .js{
    width: 70%;
    background-color:#7df9ff ;
  }
  .react{
    width: 70%;
    background-color:#fe4164 ;
  }
  .docker{
    width:69.99%;
    background-color: #8f00ff;
  }