@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&display=swap');

$fontStack:'Raleway', sans-serif;

$primaryColor:#fae994;
$complementaryColor:#23272a;
$complementarySkewColor:#b9bec4;
$brandColor: #FFFFFF;
$brandSkewColor:#ffff7f;
$highlightColor:#fdfcd4;
$successColor:#079d10;
$errorColor:#ff205c;
$textColor: #f0ece3;
$blackColor:#000000;
$btnBGColor: #007bff;
$mainHoverDark:#444;
