@use '../abstracts/' as *;

.side-menu-footer{
    width:100%;
    background: $complementaryColor;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    
     .avatar{
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      display: inline-block;
      & img{
       max-width: 100%;
     
     }
     
      .user-info{
       display: inline-block;
       margin: 0 10px;
       color: $textColor;
       position: absolute;
       opacity: 1;
       transition: opacity 0.2s ease-in;
     }
     
     
     .side-menu.inactive .side-menu-footer .user-info {
          
     display: none;
     }
     
     .side-menu-footer .user-info h5{
       font-size: 15px;
     }
     .side-menu-inactive .side-menu-footer .user-info h5{
     display: none;
     width:0;
     height:0;
     }
     
     
     .side-menu-footer .user-info p{
       font-size: 14px;
     }
    }
    }
    